html, body{
    background-color: gray;
    height: 100%;
}

#window{
    margin: 0 auto;
    margin-top: 5%;
    background-color: white;
    text-align: center;
    width: 75%;
    height: 75%;
}

td:hover{
    background-color: lightblue;
}

#desktopIcons tr td{
    width: auto;
    padding: 7px;
}

#huskerenIcon:hover{
    background-color: aqua;
    cursor: pointer;
}

.shortcutText{
    margin: 0;
    padding: 0;
}