html, body{
    background-color: gray;
    height: 100%;
    font-family: arial,sans-serif;
}



#window{
    margin: 0 auto;
    margin-top: 5%;
    background-color: white;
    text-align: center;
    width: 75%;
    height: 75%;
}

td:hover{
    background-color: lightblue;
}

#menuIcons tr td{
    width: auto;
    padding: 4px 14px 0px 14px;
}

img.menuIcon {
    size: 100px;
    width: 100px;
    height: 100px;
}

header{
    height: 30px;
    width: 100%;
    background-color: rgba(159, 166, 167, 0.45);
    display: flex;
    font-size: large;
}

header #left{
    width: 20%;
}

header #right{
    width: 20%;
}

header p{
    width: 80%;
    margin: 0;
    padding-top: 4px;
}

#closeButton{
    float: right;
    font-weight: bold;
    margin: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-content button{
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}